* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#port-hading{
    height: 70px;
    width: 600px;
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    border: 8px solid aqua;    
    border-radius: 30px;
    text-transform: uppercase;
    color:blueviolet;
    border-color: aqua;
}
#cont-text{
    font-weight:bold;
    font-size: 30px;
    
}

input{
    height: 30px;
    width: 300px;
    text-align: center;
    border: 3px solid black;
    border-radius: 30px;
    margin-bottom: 15PX;
}


.port-cont{
    text-align: center;
    height:100%;
    width: 600px;
    border: 12px solid aqua;
    border-radius: 40px;
    background-image: url(body\ image\ .jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(background\ image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:black;
}

.first-cont{
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile-pic {
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 10px solid aqua;
    border-radius: 50%;
    background-image: url(profilr-pic.jpeg);
    background-size: contain;
}
.submit-button {
    cursor: pointer;
    

}
.submit {
     cursor: pointer;
}
/* HOVER EFFECTS IN PORTFOLIO */

.submit:hover {
     cursor: pointer;
    transform: scale(1.1);
}
input:hover{
     cursor: pointer;
    transform: scale(1.1);   

}
.profile-pic:hover{
     cursor: pointer;
    transform: scale(1.1);
}